<h1>Question {{number}}</h1>
<a class="new-button" href="/surveyDesigns/{{surveyDesignId}}">Return to survey overview</a>
<br>

<form action="/questions/{{id}}/PATCH" method="POST">
    <h5><label for="text">Question Text</label></h5>
    <textarea type="text" id="text" name="text" rows="4" cols="50">{{text}}</textarea>
    <br>

    <h5>
        <label for="type">Answer type: </label>
        <select name="type" id="type">
            <option value="Multiple Choice" {{#if multipleChoice}}selected{{/if}}>Multiple Choice</option>
            <option value="Short Answer" {{#if shortAnswer}}selected{{/if}}>Short Answer</option>
            <option value="Select Elements" {{#if selectElements}}selected{{/if}}>Select Elements</option>
        </select>
    </h5>

    <section id="multiple-choice-section" hidden>
        <br>
        <h5><label for="choices">Choices: </label></h5>
        <p>All possible choices for a multiple choice question. Separate Choices using the | character.</p>
        <textarea type="text" id="choices" name="choices" rows="4" cols="50">{{choices}}</textarea>
        <br>
        <br>
    </section>

    <h5><label for="min" id="min-label">min: </label>
    <input type="text" id="min" name="min" value="{{min}}">
    </h5>

    <h5><label for="max" id="max-label">max: </label>
    <input type="text" id="max" name="max" value="{{max}}">
    </h5>

    <h5>
        <label for="visualizationId">Import visualization: </label>
        <select id="visualizationId" name="visualizationId">
            <option value="">Select One</option>
            {{#each visualizations}}
                <option value={{this.id}}>{{this.name}}</option>
            {{/each}}
            <option value="-1" hidden>Delete</option>
        </select>
        <button class="import-visualization-button">Import</button>
    </h5>

    {{#if visualizationContentId}}
        {{#unless DEBUG}}
            <iframe id="displayedImage" src="{{visualURL}}/{{visualizationContentId}}?editor=true" height="360" width="480"></iframe>
        {{/unless}}
        {{#if DEBUG}}
            <iframe id="displayedImage" src="{{visualURL}}" height="360" width="480"></iframe>
        {{/if}}
        <br>
        <button class="remove-visualization-button">Remove</button>
        <br>
    {{/if}}

    

    <h5><label for="required">Required? </label>
    <input type="checkbox" id="required" name="required" {{#if required}}checked{{/if}}>
    </h5>

    <h5><label for="allowComment">Allow comment? </label>
    <input type="checkbox" id="allowComment" name="allowComment" value="true" {{#if allowComment}}checked{{/if}}>
    </h5>

    <br>
    <button class="save-question-button">Save Changes</button>
</form>