<h1>Editing Survey Design "{{name}}"</h1>
<a class="new-button" href="/">go home</a>

<h2>Survey Title</h2>
<p>This is the title that is visible to participants.</p>
<input type="text" id="title" name="title" value="{{title}}">

<h2>Introduction Text</h2>
<p>This is the text the participant sees before starting the survey.</p>
<textarea type="text" id="introText" name="introText" rows="4" cols="50">{{introText}}</textarea>

<h2>Questions</h2>
{{#each questions}}
    {{> questionListItem}}
{{/each}}
<button class="add-question-button" action="/surveyDesigns/{{id}}/questions">+ Add</button>


<h2>Conclusion Text</h2>
<p>This is the text the participant sees after completing the survey.</p>
<textarea type="text" id="conclusionText" name="conclusionText" rows="4" cols="50">{{conclusionText}}</textarea>

<br>
<br>
<button class="save-survey-button" action="/surveyDesigns/{{id}}">Save Changes</button>