<h1>Editing Survey Design "{{name}}"</h1>
<a href="/">↵ Go Home</a>
<br><br>

<h2>Questions<a class="help" href="/faq.html#7" target="_blank">?</a></h2>
    {{#each questions}}
        {{> questionListItem}}
    {{/each}}
    <p>{{questionError}}</p>
<form action="/surveyDesigns/{{id}}/questions" method="POST">
    <button class="add-question-button">+ Add</button>
</form>
<br>

<form action="/surveyDesigns/{{id}}/PATCH" method="POST">
    <h2>Survey Details<a class="help" href="/faq.html#7" target="_blank">?</a></h2>
    <h3>Survey Title</h3>
    <p>This is the title that is visible to participants.</p>
    <input type="text" id="title" name="title" value="{{title}}">

    <h3>Introduction Text</h3>
    <p>This is the text the participant sees before starting the survey.</p>
    <textarea type="text" id="introText" name="introText" rows="4" cols="50" placeholder="Your introduction text here">{{introText}}</textarea>

    <h3>Conclusion Text</h3>
    <p>This is the text the participant sees after completing the survey.</p>
    <textarea type="text" id="conclusionText" name="conclusionText" rows="4" cols="50" placeholder="Your conclusion text here">{{conclusionText}}</textarea>

    <br>
    <br>
    <button class="save-survey-button">Save Changes</button>
</form>

<br>
<a href="#publishSurveyPopup">Publish<a class="help" href="/faq.html#14" target="_blank">?</a></a>

<!-- popup windows -->

<!-- some HTML referenced from https://www.geeksforgeeks.org/how-to-create-popup-box-using-html-and-css/ section "Using Display Property"-->
<div class="popup" id="publishSurveyPopup">
    <div class="popup-content">
        <h2>Publish your survey</h2>
        <form action="/surveyDesigns/{{id}}/publishedSurveys" method="POST">
            
            <label for="openDateTime">Open time:<a class="help" href="/faq.html#15" target="_blank">?</a></label>
            <input type="datetime-local" id="openDateTime" name="openDateTime" value="{{today}}" min="{{today}}"/>

            <label for="closeDateTime">Close time:<a class="help" href="/faq.html#15" target="_blank">?</a></label>
            <input type="datetime-local" id="closeDateTime" name="closeDateTime" value="{{tomorrow}}" min="{{today}}"/>

            <label for="name">Name:<a class="help" href="/faq.html#8" target="_blank">?</a></label>
            <input type="text" name="name" placeholder="survey name" value="{{name}}">

            <button class="popup-create-button" id="publish-survey-button">Publish</button>
        </form>
        <a class="popup-cancel-button" href="#">Cancel</a>
    </div>
</div>

