<h1>Viewing Survey "{{name}}"</h1>
<a href="/">↵ Go Home</a>
<br>

<h5>Opens: </h5>
<p>{{openDateTime}}</p>

<h5>Closes: </h5>
<p>{{closeDateTime}}</p>

<h5>Status:<a class="help" href="/faq.html#16" target="_blank">?</a></h5>
<p>{{status}}</p>

<h5>URL to Survey: </h5>
<p><a href="{{url}}">{{url}}</a></p>

<h5>Results: </h5>
<p><a href="?downloadCSV=true">Download as CSV</a></p>