<h1>Viewing Survey "{{name}}"</h1>
<a class="new-button" href="/">go home</a>
<br>

<h5>Opens: </h5>
<p>{{openDateTime}}</p>
<br>

<h5>Closes: </h5>
<p>{{closeDateTime}}</p>
<br>

<h5>Status: </h5>
<p>{{status}}</p>
<br>

<h5>URL to Survey: </h5>
<a href="{{url}}">{{url}}</a>
<br>