<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey</title>

        <script type="module" src="/src/questionEdit.js" charset="utf-8" defer></script>
        <link rel="stylesheet" href="/takesurveystyle.css">
    </head>
    <body>
        <div class="container">
            {{#if visualizationContentId}}
                
                <div class="image-section">
                    {{#unless DEBUG}}
                        <iframe id="displayedImage" src="http://localhost:8000/{{visualizationContentId}}" height="100%" width="100%"></iframe>
                    {{/unless}}
                    {{#if DEBUG}}
                        <iframe id="displayedImage" src="http://localhost:8000/" height="100%" width="100%"></iframe>
                    {{/if}}
                </div>
            {{/if}}

            <div class="controls-section">
                <div class="progress-percentage">
                    <span id="progress">{{percent}}% Complete ({{progress}}/{{total}})</span>
                </div>
                <div class="progress-bar">
                    <div class="progress-fill" style="width:{{percent}}%"></div>
                </div>

                <div class="box question-box">
                    <span class="question-header"><strong>Question {{number}}.</strong>{{#if required}}<span id="required"> *required</span>{{/if}}</span>
                    <div class="question-text-box">
                        <span class="question-text">{{text}}</span>
                    </div>
                </div>

                <div class="box answer-box">
                    
                    {{#if shortAnswer}}
                        <p><strong>Short answer:</strong>{{shortAnswerRequirement}}</p>
                        <textarea class="text-entry-box answer-entry-box" type="text" id="short-answer" name="short-answer"></textarea>
                    {{/if}}

                    {{#if selectElements}}
                        <p><strong>Please select {{choiceRequirement}}elements on the visual to the left.</strong></p>
                    {{/if}}
                    
                    {{#if multipleChoice}}
                        <p><strong>Select {{choiceRequirement}}items:</strong></p>
                        {{#each choices}}
                            {{> choiceCheckItem}}
                        {{/each}}
                    {{/if}}
                </div>

                {{#if allowComment}}
                    <div class="box comment-box">
                        <strong>Comment:</strong>
                        <textarea class="text-entry-box comment-entry-box" type="text" id="comment" name="comment">{{comment}}</textarea>
                    </div>
                {{/if}}
                
                <div class="button-container">
                    <a href="/takeSurvey/{{linkHash}}?page={{prev}}" class="nav-button">Previous Question</a>
                    <a href="/takeSurvey/{{linkHash}}?page={{next}}" class="nav-button">{{nextText}}</a>
                </div>
            </div>
        </div>
    </body>
</html> 
 
 
