<h3>
    <form action="/questions/{{id}}/DELETE" method="POST">
        <a href="/questions/{{id}}">Question {{number}}</a>
        <button class="delete-button">Delete</button>
    </form>
</h3>
<p><strong>Question Text:</strong> {{text}}</p>

<!-- Shifting buttons, to be implemented
<h4>Change order: </h4>
<button class="shift-up-button" action="/questions/{{id}}">↑</button>
<button class="shift-down-button" action="/questions/{{id}}">↓</button>
<button class="make-first-button" action="/questions/{{id}}">First</button>
<button class="make-last-button" action="/questions/{{id}}">Last</button>
-->
