<a href="surveyDesigns/{{id}}">{{name}}</a>
<button class="delete-button" action="surveyDesigns/{{id}}">Delete</button>
<a class="rename-button" href="#surveyDesignsRenamePopup{{id}}">Rename</a>
<br>

<!-- Rename popup -->
<div class="popup rename-popup" id="surveyDesignsRenamePopup{{id}}">
    <div class="popup-content">
        <h2>Rename "{{name}}"</h2>
        <input type="text" name="name" placeholder="new name" class="rename-input">
        <p class="rename-error" hidden></p>
        <button class="popup-rename-button" action="surveyDesigns/{{id}}">Rename</button>
        <a class="popup-cancel-button" href="#">Cancel</a>
    </div>
</div>